# Pandas

In [23]:
import pandas as pd
import numpy as np

## Creation of dataframes
### Creating DataFrames from a NumPy array

In [24]:
df=pd.DataFrame(np.random.randn(2,3), columns=["First", "Second", "Third"], index=["a", "b"])
df

      First    Second     Third
a -1.458959  0.099771 -0.130447
b  0.942970 -0.787032 -0.828552

In [25]:
## asign columns and rows with the Index object
df.index                            # These are the "row names"

Index(['a', 'b'], dtype='object')

In [26]:
df.columns                          # These are the "column names"

Index(['First', 'Second', 'Third'], dtype='object')

In [27]:
# columns or index argument is left out, when an implicit integer index is used:
df2=pd.DataFrame(np.random.randn(2,3), index=["a", "b"])
df2

          0         1         2
a -0.846279  1.032527  0.305790
b  0.269848 -0.100443 -1.817587

In [28]:
## the column index is ab object as the range type:
df2.columns

RangeIndex(start=0, stop=3, step=1)

### Create Dataframe from columns

In [29]:
## columns can be specified as a list, an array, or a Series. column names are given with the `columns` parameter -- for series, the `name`attribute
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [30]:
s2 = pd.Series([4,5,6], name="b")
s2

0    4
1    5
2    6
Name: b, dtype: int64

In [31]:
## give the column name explicitly:
pd.DataFrame(s1, columns=["a"])

   a
0  1
1  2
2  3

In [32]:
## using the name of a series: 
pd.DataFrame(s2)

   b
0  4
1  5
2  6

### Creating dataframes from rows

In [33]:
df=pd.DataFrame([{"Wage" : 1000, "Name" : "Jack", "Age" : 21}, {"Wage" : 1500, "Name" : "John", "Age" : 29}])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

In [66]:
df = pd.DataFrame([[1000, "Jack", 21], [1500, "John", 29]], columns=["Wage", "Name", "Age"])
df

   Wage  Name  Age
0  1000  Jack   21
1  1500  John   29

In [35]:
## exercise 01: cities
def cities():  
    indices = ['Helsinki', 'Espoo', 'Tampere', 'Vantaa', 'Oulu']  
    population = [643272, 279044, 231853, 223027, 201810]
    total_area = [715.48, 528.03, 689.59, 240.35, 3817.52]
    s_population = pd.Series(population, index = indices)
    s_total_area = pd.Series(total_area, index = indices)
    df = pd.DataFrame({"Population" : s_population, "Total area" : s_total_area})
    return df

In [36]:
## another solution:
def cities():
    a=[[643272, 715.48],
       [279044, 528.03],
       [231853, 689.59],
       [223027, 240.35],
       [201810, 3817.52]]
    cols=["Population", "Total area"]
    ind=["Helsinki", "Espoo", "Tampere", "Vantaa", "Oulu"]
    df = pd.DataFrame(a, index=ind, columns=cols)
    return df

In [37]:
cities()

          Population  Total area
Helsinki      643272      715.48
Espoo         279044      528.03
Tampere       231853      689.59
Vantaa        223027      240.35
Oulu          201810     3817.52

In [38]:
## exercise 02: power of a series
def powers_of_series(s, k):
    df_power = pd.DataFrame()
    for i in range(1,k+1):
        s_ = pd.Series((s.values) ** i, name = i)
        if i==1:
            df_power = pd.DataFrame(s_)
        if i != 1:
            df_power[i] = s_
    return df_power

In [39]:
s = pd.Series([1,2,3,4], index=list("abcd"))
print(powers_of_series(s, 3))

   1   2   3
0  1   1   1
1  2   4   8
2  3   9  27
3  4  16  64

In [40]:
##actual solution
def powers_of_series(s, k):
    c=[ s**i for i in range(1,k+1) ]
    df = pd.DataFrame(dict(zip(range(1,k+1), c)))
    return df

In [41]:
## exercise 03: municipal imformation
kk = pd.read_csv("municipal.tsv", sep = '\t' )
print(f'Shape: {kk.shape[0]}, {kk.shape[1]}')
print("Columns:")
for column in kk.columns:
    print(column)

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

In [42]:
df = pd.read_csv("municipal.tsv", sep="\t")
print("Shape: {}, {}".format(*df.shape))
print("Columns:")
for name in df.columns:
    print(name)

Shape: 490, 7
Columns:
Region 2018
Population
Population change from the previous year, %
Share of Swedish-speakers of the population, %
Share of foreign citizens of the population, %
Proportion of the unemployed among the labour force, %
Proportion of pensioners of the population, %

## accessing columns and rows of DataFrame

In [43]:
## for accessing information on the dataframe, the [] notation will not work as it does with arrays
try:
    df[0]
except KeyError:
    import sys
    print("Key error", file=sys.stderr)

Key error

In [46]:
## you need to say the explicit indices for the column contain that integer. this will work:
df["Wage"]

0    1000
1    1500
Name: Wage, dtype: int64

In [47]:
## also fancy indexing words:
df[["Wage", "Name"]]

   Wage  Name
0  1000  Jack
1  1500  John

In [48]:
## if one indexes with a slice or boolean mask, then the rows are referred to:
df[0:1]                           # slice

   Wage  Name  Age
0  1000  Jack   21

In [49]:
df[df.Wage > 1200]               # boolean mask

   Wage  Name  Age
1  1500  John   29

In [50]:
## for getting a single element of the dataframe, you chain the bracket calls
df["Wage"][1]                    # Note order of dimensions

1500

In [51]:
##exercise 04: municipalities of finland
def municipalities_of_finland():
    municipalities = pd.read_csv("municipal.tsv", sep="\t", index_col = 'Region 2018')[1:312]
    print(municipalities.shape)
    return municipalities

In [52]:
municipalities_of_finland()

(311, 6)

,Population,"Population change from the previous year, %","Share of Swedish-speakers of the population, %","Share of foreign citizens of the population, %","Proportion of the unemployed among the labour force, %","Proportion of pensioners of the population, %"
Region 2018,,,,,,
Akaa,16769,-0.9,0.2,1.6,14.6,26.1
Alajärvi,9831,-0.7,0.1,1.9,13.9,32.0
Alavieska,2610,-1.1,0.2,0.6,10.8,28.4
Alavus,11713,-1.6,0.1,1.1,11.3,31.5
Asikkala,8248,-0.9,0.2,1.6,12.0,35.5
...,...,...,...,...,...,...
Ylivieska,15251,0.3,0.3,1.2,13.3,23.1
Ylöjärvi,32878,0.2,0.3,1.2,11.7,20.3
Ypäjä,2372,-0.4,0.7,1.9,13.2,31.4
Ähtäri,5906,-1.3,0.1,0.9,13.0,35.1
Äänekoski,19144,-1.2,0.1,1.2,19.7,30.5

In [53]:
## alternative solution
def municipalities_of_finland():
    df = pd.read_csv("municipal.tsv", sep="\t", index_col=0)
    return df["Akaa":"Äänekoski"]

In [54]:
## exercise 05: swedish and foreigners
def swedish_and_foreigners():
    municipalities = pd.read_csv("municipal.tsv", sep="\t", index_col = 'Region 2018')[1:312]
    swedish = municipalities[(municipalities['Share of Swedish-speakers of the population, %'] > 5) & (municipalities['Share of foreign citizens of the population, %'] > 5)]
    swedish = swedish[['Population', 'Share of Swedish-speakers of the population, %', 'Share of foreign citizens of the population, %']]
    return swedish

In [55]:
swedish_and_foreigners()#.value_counts('Share of Swedish-speakers of the population, %')

,Population,"Share of Swedish-speakers of the population, %","Share of foreign citizens of the population, %"
Region 2018,,,
Brändö,452,72.6,8.4
Eckerö,948,89.7,11.5
Espoo,279044,7.2,10.5
Finström,2580,89.8,10.5
Föglö,532,84.2,17.3
Geta,495,86.9,13.5
Hammarland,1547,89.7,11.6
Helsinki,643272,5.7,9.5
Jomala,4859,89.1,8.5
Kaskinen,1274,29.9,5.3
Kirkkonummi,39170,16.6,5.5
Korsnäs,2154,85.8,9.1
Kumlinge,314,85.4,8.0
Kökar,236,87.7,8.1
Lapinjärvi,2706,31.2,5.1
Lemland,2028,92.1,8.0
Lumparland,395,86.6,9.9
Mariehamn,11677,84.2,13.0
Närpiö,9507,80.4,12.7
Pietarsaari,19379,56.2,7.1
Saltvik,1873,91.9,6.3
Sottunga,92,93.5,5.4
Sund,1031,88.8,8.5
Turku,189669,5.4,6.5
Uusikaarlepyy,7521,86.7,6.1
Vaasa,67392,22.8,6.0
Vårdö,430,88.1,9.5
Vöyri,6616,81.1,5.7

In [56]:
## another solution:
def swedish_and_foreigners():
    df = pd.read_csv("municipal.tsv", index_col=0, sep="\t")
    df = df["Akaa":"Äänekoski"]
    m = ((df["Share of Swedish-speakers of the population, %"] > 5.0) &
         (df["Share of foreign citizens of the population, %"] > 5.0))
    df = df[m]
    df = df[["Population", "Share of Swedish-speakers of the population, %",
             "Share of foreign citizens of the population, %"]]
    return df

In [57]:
## exercise 06: growing municipalities
def growing_municipalities(df):
    municipalities = pd.read_csv("municipal.tsv", sep="\t", index_col = 'Region 2018')[1:312]
    growing = municipalities[municipalities['Population change from the previous year, %'] > 0]
    return growing[['Population change from the previous year, %']]

In [58]:
print(f"Proportion of growing municipalities: {0:3.1f}%".format(growing_municipalities(df)))

Proportion of growing municipalities: 0.0%

In [59]:
def growing_municipalities(df):
    m = df[df['Population change from the previous year, %']>0]
    return m.shape[0]/df.shape[0]
    
filename = "municipal.tsv"
df = pd.read_csv(filename,sep='\t')
statement = "Proportion of growing municipalities:" 
proportion = "{:.1f}%".format(growing_municipalities(df)*100)
print(statement,proportion)

Proportion of growing municipalities: 21.6%

In [60]:
## alternative solution

def growing_municipalities(df):
    c="Population change from the previous year, %"
    n = len(df)
    k = sum(df[c] > 0.0)
    return k / n

def main():
    df = pd.read_csv("src/municipal.tsv", index_col=0, sep="\t")
    df = df["Akaa":"Äänekoski"]
    proportion = growing_municipalities(df)
    print(f"Proportion of growing municipalities: {proportion:.1%}")

## Alternative indexing data selection

In [67]:
df.loc[1, "Wage"]

1500

In [68]:
df.iloc[-1,-1] #right lower corner of the DataFrame

29

In [69]:
df.loc[1, ["Name", "Wage"]]

Name    John
Wage    1500
Name: 1, dtype: object

In [70]:
## exercise 07: subsetting with loc
def subsetting_with_loc():
    df = pd.read_csv("municipal.tsv", index_col=0, sep="\t")
    df = df["Akaa":"Äänekoski"]
    df = df.loc[:, ['Population', 'Share of Swedish-speakers of the population, %', 'Share of foreign citizens of the population, %']]
    return df

In [71]:
subsetting_with_loc()

,Population,"Share of Swedish-speakers of the population, %","Share of foreign citizens of the population, %"
Region 2018,,,
Akaa,16769,0.2,1.6
Alajärvi,9831,0.1,1.9
Alavieska,2610,0.2,0.6
Alavus,11713,0.1,1.1
Asikkala,8248,0.2,1.6
...,...,...,...
Ylivieska,15251,0.3,1.2
Ylöjärvi,32878,0.3,1.2
Ypäjä,2372,0.7,1.9
Ähtäri,5906,0.1,0.9
Äänekoski,19144,0.1,1.2

In [72]:
## alternative solution
def subsetting_with_loc():
    df = pd.read_csv("municipal.tsv", index_col=0, sep="\t")
    df = df.loc["Akaa":"Äänekoski", ["Population", "Share of Swedish-speakers of the population, %", "Share of foreign citizens of the population, %"]]
    return df

In [73]:
## exercise 08: subsetting by positions
def subsetting_by_positions():
    df = pd.read_csv("UK-top40-1964-1-2.tsv", index_col=0, sep="\t")
    df = df.iloc[:10, [1,2]]
    return df

In [74]:
subsetting_by_positions()

                            Title                    Artist
Pos
1        I WANT TO HOLD YOUR HAND               THE BEATLES
2                   GLAD ALL OVER       THE DAVE CLARK FIVE
3                   SHE LOVES YOU               THE BEATLES
4            YOU WERE MADE FOR ME  FREDDIE AND THE DREAMERS
5    TWENTY FOUR HOURS FROM TULSA               GENE PITNEY
6      I ONLY WANT TO BE WITH YOU         DUSTY SPRINGFIELD
7                       DOMINIQUE           THE SINGING NUN
8                     MARIA ELENA      LOS INDIOS TABAJARAS
9                     SECRET LOVE               KATHY KIRBY
10              DON'T TALK TO HIM             CLIFF RICHARD

In [75]:
## alternative solution
def subsetting_by_positions():
    df = pd.read_csv("UK-top40-1964-1-2.tsv", sep="\t")
    return df.iloc[:10,2:4]

## Summary statistics

In [76]:
wh = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")

In [77]:
wh2 = wh.drop(["Year", "m", "d"], axis=1)  # taking averages over these is not very interesting
wh2.mean()

<ipython-input-77-fed339198b77>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  wh2.mean()

Precipitation amount (mm)    1.966301
Snow depth (cm)              0.966480
Air temperature (degC)       6.527123
dtype: float64

In [78]:
##the describe method gives summary stadistics for each numeric columns in a dataframe format.
wh.describe()

,Year,m,d,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
count,365.0,365.000000,365.000000,365.000000,358.000000,365.000000
mean,2017.0,6.526027,15.720548,1.966301,0.966480,6.527123
std,0.0,3.452584,8.808321,4.858423,3.717472,7.183934
min,2017.0,1.000000,1.000000,-1.000000,-1.000000,-17.800000
25%,2017.0,4.000000,8.000000,-1.000000,-1.000000,1.200000
50%,2017.0,7.000000,16.000000,0.200000,-1.000000,4.800000
75%,2017.0,10.000000,23.000000,2.700000,0.000000,12.900000
max,2017.0,12.000000,31.000000,35.000000,15.000000,19.600000

In [79]:
## exercise 09: snow depth

In [80]:
def snow_depth(): 
    df = pd.read_csv('kumpula-weather-2017.csv', sep = ',')    
    snow = df.loc[:, ['Snow depth (cm)']]
    max_snow = snow.describe()
    return max_snow.iloc[-1,-1]

In [81]:
proportion = snow_depth()
print(f"Max snow depth: {proportion:.1f}")

Max snow depth: 15.0

In [82]:
## alternative solution
def snow_depth():
    df = pd.read_csv("src/kumpula-weather-2017.csv")
    return df["Snow depth (cm)"].max()

In [83]:
## exercise 10: average temperature in july
def average_temperature():
    df = pd.read_csv("kumpula-weather-2017.csv")
    july_temp = df.loc[df['m'] == 7,:]
    avg_july_temp = july_temp['Air temperature (degC)'].mean()
    return avg_july_temp

In [84]:
proportion = average_temperature()
print(f"Average temperature in July: {proportion:.1f}")

Average temperature in July: 16.0

In [85]:
## alternative solution
def average_temperature():
    df = pd.read_csv("src/kumpula-weather-2017.csv", sep=",")
    m = df["m"] == 7
    return df[m]["Air temperature (degC)"].mean()

In [86]:
## exercise 11: below zero
def below_zero():
    df = pd.read_csv("kumpula-weather-2017.csv", sep=",")
    below_zero_df = df.loc[df['Air temperature (degC)'] < 0]
    below_zero_days = below_zero_df.shape[0]
    return below_zero_days

In [87]:
print(f"Number of days below zero: {below_zero():.0f}")

Number of days below zero: 49

In [88]:
## alternative solution
def below_zero():
    df = pd.read_csv("kumpula-weather-2017.csv")
    return sum(df["Air temperature (degC)"] < 0.0)

## Missing data

In [91]:
#if we check the unique values of the column, we see some nan values
wh["Snow depth (cm)"].unique()

array([-1.,  7., 13., 10., 12.,  9.,  8.,  5.,  6.,  4.,  3., 15., 14.,
        2., nan,  0.])

In [92]:
# the floeat type accepts nan in additionto normal floating point numbers. THis value represents the results from illegal operations -- as 0/0

In [93]:
pd.Series([1,3,2])

0    1
1    3
2    2
dtype: int64

In [94]:
pd.Series([1,3,2, np.nan])

0    1.0
1    3.0
2    2.0
3    NaN
dtype: float64

In [95]:
## for non-numeric types the special value None is used to denote a missing value, the dtype is promoted to object

In [96]:
pd.Series(["jack", "joe", None])

0    jack
1     joe
2    None
dtype: object

In [97]:
##pandas excludes the missing values from summary statistics -- but we have functions to handle null values
wh.isnull()      # returns a boolean mask DataFrame

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
360,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False
363,False,False,False,False,False,False,False,False
364,False,False,False,False,False,False,False,False

In [98]:
# combining it with the any method, you can mask the null rows
# notnull is inverse from isnull
wh[wh.isnull().any(axis=1)]

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
74,2017,3,16,00:00,UTC,1.8,NaN,3.4
163,2017,6,13,00:00,UTC,0.6,NaN,12.6
308,2017,11,5,00:00,UTC,0.2,NaN,8.4
309,2017,11,6,00:00,UTC,2.0,NaN,7.5
313,2017,11,10,00:00,UTC,3.6,NaN,7.2
321,2017,11,18,00:00,UTC,11.3,NaN,5.9
328,2017,11,25,00:00,UTC,8.5,NaN,4.2

In [100]:
#  dropna drops columns that contain missing values from the dataframe
# the drop and tthresh parameters allow to specify how many values need to be missing, in order to drop the element
wh.dropna().shape   # Default axis is 0

(358, 8)

In [101]:
#depending on the axis, you drop the ros (0) or columns (1)
wh.dropna(axis=1).shape # Drops the columns containing missing values

(365, 7)

In [102]:
# fillna fills the missing values with constant or interpolated values
# ffill: use the previous value to fill the current value
# bfill: use the next value to fill the current value
wh = wh.fillna(method='ffill')
wh[wh.isnull().any(axis=1)]

Empty DataFrame
Columns: [Year, m, d, Time, Time zone, Precipitation amount (mm), Snow depth (cm), Air temperature (degC)]
Index: []

In [103]:
# exercise 12: cyclist

def cyclists():
    df = pd.read_csv('Helsingin_pyorailijamaarat.csv', sep = ';')
    df_rows = df.dropna(how='all', axis = 0)
    df_columns = df_rows.dropna(how = 'all', axis = 1)
    return df_columns

In [110]:
## alternative solution
def cyclists():
    df = pd.read_csv("Helsingin_pyorailijamaarat.csv", sep=";")
    df = df.dropna(axis=0, how="all")
    df = df.dropna(axis=1, how="all")
    return df

In [111]:
df = cyclists()
print("Shape: {}, {}".format(*df.shape))
for name in df.columns:
    print(name)

Shape: 37128, 21
Päivämäärä
Auroransilta
Eteläesplanadi
Huopalahti (asema)
Kaisaniemi/Eläintarhanlahti
Kaivokatu
Kulosaaren silta et.
Kulosaaren silta po.
Kuusisaarentie
Käpylä, Pohjoisbaana
Lauttasaaren silta eteläpuoli
Merikannontie
Munkkiniemen silta eteläpuoli
Munkkiniemi silta pohjoispuoli
Heperian puisto/Ooppera
Pitkäsilta itäpuoli
Pitkäsilta länsipuoli
Lauttasaaren silta pohjoispuoli
Ratapihantie
Viikintie
Baana

In [112]:
## exercise 13: missing value types
def missing_value_types():
    df = pd.DataFrame([['-', '-'], [1917, 'Niinistö'], [1776, "Trump"],[1523, '-'], ['-', 'Steinmeier'], 
    [1992, "Putin"]], columns = ['Year of independence', 'President'], 
    index = ["United Kingdom" , "Finland" , "USA", "Sweden", "Germany", "Russia"] ) 
    df = df.replace('-', np.nan)
    return df

In [113]:
missing_value_types().dtypes

Year of independence    float64
President                object
dtype: object

In [114]:
# alternative solution
def missing_value_types():
    df=pd.DataFrame([["United Kingdom", np.nan, None],
                     ["Finland",        1917,   "Niinistö"],
                     ["USA",            1776,   "Trump"],
                     ["Sweden",         1523,   None],
                     ["Germany",        np.nan, "Steinmeier"],
                     ["Russia",         1992,   "Putin"]],
                    columns=["State", "Year of independence", "President"])
    df = df.set_index("State")
    return df

In [115]:
    df = missing_value_types()
    print("Column names:", df.columns)
    print("dtypes:", df.dtypes)
    print(df)

Column names: Index(['Year of independence', 'President'], dtype='object')
dtypes: Year of independence    float64
President                object
dtype: object
                Year of independence   President
State
United Kingdom                   NaN        None
Finland                       1917.0    Niinistö
USA                           1776.0       Trump
Sweden                        1523.0        None
Germany                          NaN  Steinmeier
Russia                        1992.0       Putin

In [167]:
## exercise 14: special missing value
def special_missing_values():
    df = pd.read_csv("UK-top40-1964-1-2.tsv", sep = "\t")
    df = df.replace({"New": np.nan, "Re": np.nan})
    special_df = df.loc[(df['Pos'] > df['LW'].astype(float)), :]
    return special_df

In [168]:
DF = special_missing_values()
print("Shape: {}, {}".format(*DF.shape))
print("dtypes:", DF.dtypes, sep="\n")
print(DF)

Shape: 17, 7
dtypes:
Pos           int64
LW           object
Title        object
Artist       object
Publisher    object
Peak Pos      int64
WoC           int64
dtype: object
    Pos  LW                                 Title  \
2     3   2                         SHE LOVES YOU
3     4   3                  YOU WERE MADE FOR ME
5     6   5            I ONLY WANT TO BE WITH YOU
8     9   4                           SECRET LOVE
9    10   8                     DON'T TALK TO HIM
11   12  11                              GERONIMO
14   15  14                   I WANNA BE YOUR MAN
15   16  12               YOU'LL NEVER WALK ALONE
20   21  13               I'LL KEEP YOU SATISFIED
21   22  21                  IF I RULED THE WORLD
23   24  20  ALL I WANT FOR CHRISTMAS IS A BEATLE
29   30  22                  IT'S ALMOST TOMORROW
30   31  24                       HUNGRY FOR LOVE
33   34  33                           DEEP PURPLE
34   35  31                   BLOWING IN THE WIND
37   38  30                       SUGAR AND SPICE
38   39  37                      YESTERDAY'S GONE

                            Artist        Publisher  Peak Pos  WoC
2                      THE BEATLES       PARLOPHONE         1   19
3         FREDDIE AND THE DREAMERS         COLUMBIA         3    9
5                DUSTY SPRINGFIELD          PHILIPS         5    6
8                      KATHY KIRBY            DECCA         4    9
9                    CLIFF RICHARD         COLUMBIA         2    9
11                     THE SHADOWS         COLUMBIA        11    5
14              THE ROLLING STONES            DECCA        13    7
15        GERRY AND THE PACEMAKERS         COLUMBIA         1   13
20  BILLY J KRAMER AND THE DAKOTAS       PARLOPHONE         4    9
21                   HARRY SECOMBE          PHILIPS        18    7
23                      DORA BRYAN          FONTANA        20    5
29                     MARK WYNTER              PYE        12    8
30     JOHNNY KIDD AND THE PIRATES              HMV        20    6
33    NINO TEMPO AND APRIL STEVENS           LONDON        17    8
34            PETER, PAUL AND MARY  WARNER BROTHERS        13   11
37                   THE SEARCHERS              PYE         2   11
38    CHAD STUART AND JEREMY CLYDE            EMBER        37    4

In [135]:
def special_missing_values():
    df = pd.read_csv("src/UK-top40-1964-1-2.tsv", sep="\t")
    m = (df["LW"] == "New") | (df["LW"] == "Re")
    df.loc[m, "LW"] = np.nan
    df["LW"] = pd.to_numeric(df["LW"])
    m2 = df["LW"] < df["Pos"]
    return df[m2]

TypeError: '>' not supported between instances of 'int' and 'str'

In [116]:
## exercise 15
def last_week():
    return